<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BIP Balance</title>
    <meta name="description"
          content="BIP Balance query service"/>
    <meta name="keywords"
          content="bip, saldo, balance, transantiago"/>

    <link rel="icon" type="image/png" href="/static/img/favicon.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel=stylesheet type="text/css" media="screen" href="/static/css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/all.js"></script>
</head>
<body>
  <header id="header" class="nav navbar-static-top" role="banner">
         <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <div style="color: red; font-size: 18pt;"><span class="glyphicon glyphicon-bed"></span> BIP Balance</div>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                   <div class="clickeable navbar-form navbar-right">
                       <span id="help-button" class="player-nav-button" onclick="bipbalance_client.UI.openHelp();" style="border-width:0px;color: gray;"><span class="glyphicon glyphicon-question-sign"></span> </span>
                   </div>
                </div>
          </div>
         </nav>
  </header>
  <div id="content" class="jumbotron" style="margin-bottom: 0px; margin-top: 0px;" >
    {% block content %}{% endblock %}
  </div>
  <footer id="footer">
        <span>BIP Balance (c) <a href="mailto:rodrigo.estrada@gmail.com">rodrigo.estrada@gmail.com</a></span>
  </footer>

<!-- HELP -->
<div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Help</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>